

#Player {
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 300px;
}

#icons {
    height: auto;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    
}